<h1>Instruments#index</h1>
<div class="row">
      <% @instruments.each do |ins| %>
        <%= ins.name.upcase %>
        <%= ins.price %> $/day
        <%= ins.category.capitalize %>
        <% if policy(ins).show? %>
          <%= link_to 'show', instrument_path(ins) %>
        <% end %>
      <% end %>
      <% if policy(Instrument).create? %>
        <%= link_to 'Post an instrument', new_instrument_path %>
      <% end %>
</div>
